@import '../../../../node_modules/antd/dist/antd.css';

$black-color: #232323;
$blue-light-color: #8bf6ff;
$blue-color: #4fc3f7;
$blue-dark-color: #0093c4;
$orange-color: #ff9868;
$pink-color: #b5004d;
$yellow-color: #fff17a;

.layout {
	height: 100%;
	color: $black-color;

	* {
		font-size: 15px;
		// text-align: center;
		// color: $black-color;
	}

	textarea {
		color: white;	
	}

	a {
		color: rgba(0, 0, 0, 0.65);

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	&>.header, &>.footer {
		z-index: 2;
	}

	&>.header {
		padding: 0;
		height: 48px;
		text-align: center;
		background-color: $yellow-color;
	}

	&>.content{
		background-color: $blue-color;
		min-height: 13em;
	}

	&>.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px;
		background-color: rgba(35, 35, 35, 0.25);

		.inner {
			position: relative;
			height: -webkit-calc(50% - 15px);
		    height:    -moz-calc(50% - 15px);
		    height:         calc(50% - 15px);
		}

		a {
			font-weight: bold;
		}

		span {
			padding: 0px 10px 0px 10px;
		}
	}
}

// body {
//   margin: 0;
//   padding: 0;
//   font-family: 'Roboto', sans-serif;
// }

// html, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure, 
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
cursor: not-allowed;
}

.Resizer.disabled:hover {
border-color: transparent;
}

.SplitPane  .Vertical {
  height: 90%;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.btn {
  text-transform: none;
}

.collapsible {
  border-right: 0;
  border-left: 0;
}


.col.s12 {
  padding: 0;
}

