.exercise {
	.title {
	  font-size: 1.4em;
	  padding-bottom: 1em;
	  color: black;
	}

	.description {
	  padding-bottom: 2em;
	}

	.instructions {
		
	}

	.result {
		margin-top: 30px;

		.ant-card-body {
			text-align: center;
		}
	}
}