.editorContainer {
	padding: 2vw 2vw 2vw 3vw;

	.editor {
		/*margin-right: 2vh;*/
		margin-bottom: 2vh;
		border-radius: 3px;

		* {
			color: inherit;
			text-align: left;
			font-size: inherit;
		}
	}
}