.panel {
  border: 2px dashed #f9f9f9;
  border-radius: 4px;

  .header {
    margin: -2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #f9f9f9;

    &> * {
      font-size: 1.5em;
    }
  }

  .content {
    padding: 1em 1em;
  }
}