.splitPane {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #f9f9f9;
    border-bottom: 1px solid #EEEEEE;

    &> * {
      font-size: 1.5em;
    }
  }

  .content {
    padding: 1em 1em;
  }
}